form .form-navigation{
    height: 50px;
}

form .form-navigation .buttons{
    height:55px;
    position:fixed;
    bottom:0;
    right:0;
    z-index:1;
    background:#eee;
}

form .form-navigation .buttons .form-panel{
    padding: 10px 30px 5px 15px;
}

form .help-block{
    padding-right: 15px;
    text-align: right;
}

.form-group-fixed{
    position: fixed;
    bottom:0;
    right: 0;
    z-index: 1;
    height: $footerHeight;
    background: rgba(255,255,255,0.8);
}

.form-group-fixed > div{
    padding-top:4px;
}