#navbar{
  padding:0;
}

#navbar .navbar-body{
  padding:0;
}

#navbar .navbar-body .nav{
  padding: 0 15px;
}

#navbar .count{
    @include border-radius(10px);
    padding:2px 5px;
    font-size:0.8em;
    font-weight:bold;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

    #navbar .navbar-nav li{
        margin: 0 3px;
    }

    #navbar .navbar-nav li a .glyphicon{
        font-size:1.3em;

        @include transition(font-size 1s);
    }

    #navbar .navbar-nav li a .text{
        display:none;
    }
}

#navbar .navbar-header{
    position:relative;
    padding-right:0;
    padding-left:0;
}