
@media (min-width: $screen-xxs-max) {
    .pull-right-xs{
        float:right;
    }
    .pull-left-xs{
        float:left;
    }
}

@media (min-width: $screen-sm-min) {
    .pull-right-sm{
        float:right;
    }
    .pull-left-sm{
        float:left;
    }
}

@media (min-width: $screen-md-min) {
    .pull-right-md{
        float:right;
    }
    .pull-left-md{
        float:left;
    }
}

@media (min-width: $screen-lg-min) {
    .pull-right-lg{
        float:right;
    }
    .pull-left-lg{
        float:left;
    }
}